<div class="card position-sticky " style="top: 70px;">
    <div class="card-header">
        <strong>{{'productGroup.title' | translate }}</strong>
    </div>
    <table class="table table-hover mb-0" *ngIf="!show || show==false">
        <thead>
            <tr>
                <th *ngFor="let col of tablegroupproduct.cols" (click)="tablegroupproduct._sorting(col.field)"
                    [ngClass]="{ 'sorting' : tablegroupproduct.sorting.field==col.field ,'cursor-pointer': col.filter==true  , 'hide' : col.show==false }">
                    <div [(ngSwitch)]="col.field">
                        <div *ngSwitchCase="'action'" class="text-right">{{col.title | translate }}</div>
                        <span *ngSwitchDefault>{{col.title | translate }}</span>
                        <i *ngIf="tablegroupproduct.sorting.field==col.field" class="fa"
                            [ngClass]="{ 'fa-long-arrow-down' : tablegroupproduct.sorting.sort=='asc' , 'fa-long-arrow-up' : tablegroupproduct.sorting.sort=='desc' }"></i>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="hover-row pointer" *ngFor="let item of tablegroupproduct.data" (click)="onCheckItem(item)"
                [ngClass]="{'status-off': item.status && item.status==0 ,'activeRows' : item.check == true}">
                <td *ngFor="let col of tablegroupproduct.cols ; let i=index" [ngClass]="{ 'hide' : col.show==false }">
                    <div [(ngSwitch)]="col.field">
                        <div *ngSwitchCase="'count'" class="text-center">
                            {{item[col.field] > 0 ? item[col.field] : 0}}
                        </div>
                        <div *ngSwitchCase="'action'" class='display-action text-right'>
                            <button class="btn btn-danger btn-sm text-white"
                                (click)="openModalRemove(item.id,item.name)">
                                <i class="fas fa-trash"></i>
                            </button>
                        </div>
                        <span *ngSwitchDefault>{{item[col.field]}}</span>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>