<div *ngIf="!loading">
    <app-header (loading)="eventLoading($event)" class="app-header"></app-header>
    <div style="min-height: calc(100vh - 450px);background: #fff;">
        <section>
            <router-outlet></router-outlet>
        </section>
    </div>
    <app-footer></app-footer>
</div>
<div class="position-relative" [ngStyle]="{ 'visibility': !loading ? 'visible':'hidden'}">
    <div class="eltdf-social-icon-widget-outer ">
        <div class="scroll-top eltdf-social-icon-widget-holder eltdf-icon-has-hover">
            <i class="fas fa-long-arrow-alt-up"></i>
        </div>
    </div>
</div>
<div *ngIf="loading" class="d-flex justify-content-center align-items-center bg-white" style="height: 100vh;">
    <div class="position-relative">
        <img src="./../../assets/img/logo.png" width="100px"
            style="position: absolute;top: calc(50%); transform: translateY(-50%);right: calc(50% - 50px);" />
        <img src="./../../assets/img/loading.gif" width="180px" />
    </div>
</div>