/**
 * 
 * Create
 * Name:    
 * Date : 
 * Note: 
 * ------------------
 * Edit    create hotline icon, button croll-top, (icon facebook, zalo, instagram,...(2/3/2020))
 * Name:  diem.ntn
 * Date : 27/2/2020
 * Note : 
 *
 **/

.app-header {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
    background-color: #fff !important;
}

/*nút scroll*/

.scroll-top {
    opacity: 0.9;
    width: 35px;
    height: 35px;
    bottom: 60px;
    right: 20px;
    line-height: 40px;
    text-align: center;
    font-size: 25px;
    transition: .2s ease-in-out;
    cursor: pointer;
    z-index: 2;
}

.fas {
    font-size: 18px;
    position: absolute;
    color: white;
    top: 25%;
    left: 37%;
}

.icon {
    top: 9px!important;
    left: 7px!important;
}

.scroll-top:hover i {
    transform: rotate(360deg)
}

.eltdf-page-footer .widget:last-child {
    margin-bottom: 0!important;
}

.eltdf-social-icons-group-widget.text-align-left {
    text-align: left;
}

.eltdf-page-footer .widget {
    margin: 0 0 41px;
    color: #ccc;
}

.eltdf-social-icon-widget-outer {
    position: fixed;
    display: inline-block;
    vertical-align: top;
    padding: 8px 0;
    font-size: 16px;
}

.eltdf-social-icon-widget-holder {
    position: fixed;
    display: block;
    width: 34px;
    font-size: inherit;
    height: 34px;
    text-align: center;
}

.eltdf-social-icon-widget-holder::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #08487e;
    box-sizing: border-box;
    transform: rotate(45deg);
    box-shadow: 1px 1px 5px #00000057;
}

eltdf-icon-has-hover:hover {
    color: #fff;
}

.fa-long-arrow-alt-up {
    color: #fff !important;
}

/*---------- end scroll --------------*/

@media(max-width:415px) {
    .scroll-top {
        right: 28px;
        bottom: 42px !important;
    }
}

@media(max-width: 411px) {
    .scroll-top {
        right: 28px;
        bottom: 43px !important;
    }
    .scrollphone1 {
        bottom: 140px !important;
    }
}

@media(max-width: 375px) {
    .scroll-top {
        right: 28px;
        bottom: 41px !important;
    }
}

@media(max-width: 360px) {
    .scroll-top {
        right: 28px;
        bottom: 40px !important;
    }
}

@media(max-width: 320px) {
    .scroll-top {
        right: 28px;
        bottom: 42px !important;
    }
}