<nav class="navbar navbar-expand-md p-0">
    <ul class="navbar-nav align-items-center w-100" *ngIf="menu && menu.length > 0">
        <ng-template #recursiveMenu let-menu>
            <li class="nav-item scroll-menu " *ngFor="let item of menu; first as isFirst"
                [ngClass]="(item.data.length > 0 ? ('item-children-' + item.level) : '' ) ">
                <a class="nav-link text-right" *ngIf="item.type!=1" [ngClass]="'level-' + item.level"
                    [routerLink]=" [ item.href] " routerLinkActive="active">
                    <span class="text-nowrap text-uppercase"> {{item.name}} </span>
                </a>
                <a class="nav-link text-right" *ngIf="item.type==1" [ngClass]="'level-' + item.level" target="_blank"
                    [href]="item.link">
                    <span class="text-nowrap text-uppercase"> {{item.name}} </span>
                </a>
                <div class="dropdown-menu-item rounded-0 border-0 p-0 menu-item-child"
                    *ngIf="item.data && item.data.length > 0 ">
                    <ng-container *ngTemplateOutlet="recursiveMenu;context: { $implicit: item.data }">
                    </ng-container>
                </div>
            </li>
        </ng-template>
        <ng-container *ngTemplateOutlet="recursiveMenu;  context:{ $implicit: menu }">
        </ng-container>
    </ul>
</nav>