@import "../../../../style/mixins";

@mixin content($line, $height, $fontSize) {
    @include line-clamp($line);
    min-height: $height;
    font-size : $fontSize;
}

.box {
    box-shadow   : 0 0px 10px rgba(0, 0, 0, 0.13);
    border-radius: 20px;
    overflow     : hidden;
    border       : 1px solid whitesmoke !important;

    &:hover &-title>a {
        color: var(--colorMain) !important;
    }

    &-img {
        height: 10.9375rem;

        >img {
            object-fit: cover;
        }
    }

    &-title {
        @include content(2, 2.625rem, 1.125rem);


    }

    &-description {
        @include content(3, 3.9375rem, 0.875rem);
    }

    &-view {
        font-size: 0.75rem;

        i {
            color: var(--color);
        }
    }
}

$height: 110px;

.box-mobile {
    height       : $height;
    border-radius: 5px;
    box-shadow   : none !important;

    .box-title-moblie {
        @include content(3, 55px, 14px, );

        @include viewport-sm {
            @include content(2, 40px, 14px);
        }
    }

    .box-img {
        width : 35%;
        height: $height;

        img {
            border-radius: 5px;
            object-fit   : contain;

        }
    }

    .box-item-content {
        width : 65%;
        height: $height;
    }
}