<div class="row">
    <div class="col-3 d-none d-md-block">
        <div class="card rounded-0 bg-light border-0 mb-3" *ngIf="categories && categories.length > 0">
            <ul class="pl-0 mb-0">
                <h6 class="border-bottom font-weight-bold p-3 mb-3" style="color:#0b60a9">
                    {{'FEProduct.category' | translate}}
                </h6>
                <li class="px-3 pb-3" *ngFor="let item of categories ; let i = index">
                    <div class="d-flex align-items-center justify-content-between "
                        (click)="groupCategory.filter(item.id)">
                        <div style="cursor: pointer;">
                            {{item.name}}
                        </div>
                        <input name='group' [checked]="groupCategory.value.includes(item.id)" type="checkbox"
                            id="group-{{item.id}}">
                    </div>
                </li>
            </ul>
        </div>
        <div class="card rounded-0 bg-light border-0 mb-3" *ngIf="brand.data && brand.data.length > 0">
            <ul class="pl-0 mb-0 ">
                <h6 class="border-bottom font-weight-bold p-3 mb-3" style="color:#0b60a9">
                    {{'FEProduct.brand' | translate}}
                </h6>
                <li class="px-3 pb-3" *ngFor="let item of brand.data;" style="overflow:hidden">
                    <div class=" d-flex align-items-center justify-content-between"
                        (click)="brand.filterBrand(item.id)">
                        <div class="item-title ">
                            {{item.name}}
                        </div>
                        <input name='brand' [checked]="brand.value.includes(item.id)" type="checkbox"
                            id="group-{{item.id}}">
                    </div>
                </li>
            </ul>
        </div>
        <div class="card rounded-0 bg-light border-0 mb-3" *ngIf="origin.data && origin.data.length > 0">
            <ul class="pl-0 mb-0 ">
                <h6 class="border-bottom font-weight-bold p-3 mb-3" style="color:#0b60a9">
                    {{'FEProduct.origin' | translate}}
                </h6>
                <li class="px-3 pb-3" *ngFor="let item of origin.data;" style="overflow:hidden">
                    <div class=" d-flex align-items-center justify-content-between"
                        (click)="origin.filterOrigin(item.id)">
                        <div class="item-title ">
                            {{item.name}}
                        </div>
                        <input name='origin' [checked]="origin.value.includes(item.id)" type="checkbox"
                            id="group-{{item.id}}">
                    </div>
                </li>
            </ul>
        </div>
        <div class="card rounded-0 bg-light border-0 mb-3 " *ngIf="price.max > 0">
            <ul class="pl-0 mb-0">
                <h6 class="border-bottom font-weight-bold p-3 mb-3" style="color:#0b60a9">
                    {{'FEProduct.price' | translate}}
                </h6>
                <li>
                    <div class="card-body p-2">
                        <ng5-slider (userChangeEnd)="onUserChangeEnd($event)" [(value)]="minValue"
                            [(highValue)]="maxValue" [options]="options"></ng5-slider>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-12 pb-4 col-md-9">
        <div class="row mb-3 bg-light align-items-center">
            <div class="col-4 col-md-4  ">
                <div style="color: #595959">
                    {{cwstable.settings.total > 0 ? cwstable.settings.total : 0 }}
                    {{'FEProduct.product' | translate}}
                </div>
                <div class="d-flex align-items-center d-md-none mt-3 " style="color: #595959">
                    {{'FEProduct.filterTitle' | translate }}
                    <i class="action-icon fas fa-list-alt ml-2" style="line-height: 30px;" (click)="setMenuMobile(true)"
                        style=" font-size: 1.3rem;line-height: 30px;"></i>
                </div>
            </div>
            <div class="col-8 col-md-8 text-right pl-0">
                <div class="d-md-flex align-items-center justify-content-between ">
                    <div class="ml-md-3 d-inline-flex align-items-center my-2"
                        *ngFor="let col of cwstable.cols; let i = index;">
                        <span class="mr-2">{{ col.title | translate}}</span>
                        <button (click)="cwstable._sorting(col.field, 'desc')" class="btn btn-sm rounded-0 mr-2">
                            <i class="fas fa-sort-amount-down"></i>
                        </button>
                        <button (click)="cwstable._sorting(col.field, 'asc')" class="btn btn-sm rounded-0">
                            <i class="fas fa-sort-amount-up"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div id="ListData" class="row" *ngIf="show == 1 ">
            <div class=" col-6 px-2 mb-3 col-xl-3 col-md-4" *ngFor="let item of cwstable.data">
                <app-box-product class=" mb-4 " [item]="item"> </app-box-product>
            </div>
            <div class="col-12 text-center pt-4 pb-4" *ngIf="!cwstable.data || cwstable.data.length == 0">
                <h4>{{'FEProduct.NotHaveProduct' | translate }}</h4>
            </div>
            <div *ngIf="show == -1 ">
                <div
                    class="position-relative d-flex align-items-center justify-content-center pt-lg-5 pt-4 pb-lg-5 pb-4">
                    <img src="../../../../assets/img/loading.gif" width="125px">
                </div>
            </div>
            <div class="col-12" *ngIf="cwstable.cached.length > Pagination.itemsPerPage">
                <pagination [directionLinks]="false" class="d-flex justify-content-end pt-lg-4"
                    [totalItems]="cwstable.cached.length" [itemsPerPage]="Pagination.itemsPerPage"
                    [maxSize]="Pagination.maxSize" (pageChanged)="Pagination.change($event)">
                </pagination>
            </div>
        </div>
        <div class="row" *ngIf="show == 0">
            <div class="col-12 text-center pt-4 pb-4">
                <h4>{{'FEProduct.NotHaveProduct' | translate }}</h4>
            </div>
        </div>
    </div>

    <div class="" *ngIf="openMobileFilter;then FilterMobile"></div>
</div>
<ng-template #FilterMobile>
    <div id="mobile-filter" class=" position-fixed">
        <div class="bg position-absolute w-100 h-100" (click)="setMenuMobile(false)"></div>
        <div class="content h-100 w-75" style="background-color: whitesmoke;">
            <div class="card rounded-0 border-0 " *ngIf="!parent_link">
                <ul class="pl-0 mb-0" *ngIf="categories && categories.length > 0">
                    <h6 class="border-bottom font-weight-bold p-3 mb-3" style="color:#0b60a9">
                        {{'FEProduct.category' | translate}}
                    </h6>
                    <li class="px-3 pb-3" *ngFor="let item of categories ; let i = index">
                        <div class="d-flex align-items-center justify-content-between "
                            (click)="groupCategory.filter(item.id)">
                            <div style="cursor: pointer;">
                                {{item.name}}
                            </div>
                            <input name='group' [checked]="groupCategory.value.includes(item.id)" type="checkbox"
                                id="group-{{item.id}}">
                        </div>
                    </li>
                </ul>
            </div>
            <div class="card rounded-0 border-0 " [ngClass]="{'mt-3': !parent_link}">
                <ul class="pl-0 mb-0 ">
                    <h6 class="border-bottom font-weight-bold p-3 mb-3" style="color:#0b60a9">
                        {{'FEProduct.brand' | translate}}
                    </h6>
                    <li class="px-3 pb-3" *ngFor="let item of brand.data;" style="overflow:hidden">
                        <div class=" d-flex align-items-center justify-content-between"
                            (click)="brand.filterBrand(item.id)">
                            <div class="item-title ">
                                {{item.name}}
                            </div>
                            <input name='brand' [checked]="brand.value.includes(item.id)" type="checkbox"
                                id="group-{{item.id}}">
                        </div>
                    </li>
                </ul>
            </div>
            <div class="card rounded-0 border-0 mt-3">
                <ul class="pl-0 mb-0 ">
                    <h6 class="border-bottom font-weight-bold p-3 mb-3" style="color:#0b60a9">
                        {{'FEProduct.origin' | translate}}
                    </h6>
                    <li class="px-3 pb-3" *ngFor="let item of origin.data;" style="overflow:hidden">
                        <div class=" d-flex align-items-center justify-content-between"
                            (click)="origin.filterOrigin(item.id)">
                            <div class="item-title ">
                                {{item.name}}
                            </div>
                            <input name='origin' [checked]="origin.value.includes(item.id)" type="checkbox"
                                id="group-{{item.id}}">
                        </div>
                    </li>
                </ul>
            </div>
            <div class="card rounded-0 border-0 mt-3 " *ngIf="price.max > 0">
                <ul class="pl-0 mb-0">
                    <h6 class="border-bottom font-weight-bold p-3 mb-3" style="color:#0b60a9">
                        {{'FEProduct.price' | translate}}
                    </h6>
                    <li>
                        <div class="card-body p-2">
                            <ng5-slider (userChangeEnd)="onUserChangeEnd($event)" [(value)]="minValue"
                                [(highValue)]="maxValue" [options]="options"></ng5-slider>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</ng-template>