<app-slide></app-slide>
<div class="py-4 py-md-5 product" *ngIf="product.group.title && product.group.title.length > 0">
    <div class="container-main">
        <div class="container-fluid">
            <div class="product-hearder text-center pb-4">
                <div class="title">
                    <h2 class="font-weight-bold">
                        {{ product.group.name }}
                    </h2>
                    <div class="mb-3 title-description">
                        {{ product.group.title }}
                    </div>
                    <div class="bottom-dots">
                        <span class="dot line-dot"></span>
                        <span class="dot"></span>
                        <span class="dot"></span>
                        <span class="dot"></span>
                    </div>
                </div>
                <div class="product-group text-center my-4">
                    <div class="product-group-item d-inline-block font-weight-bold px-1 px-md-3 py-1"
                        *ngFor="let itemGroup of product.group.list; index as i"
                        (click)="product.getProductList(+itemGroup.id,itemGroup.link ); product.show = i"
                        [ngClass]="{'active': product.show == i}">
                        <span>{{ itemGroup.name }}</span>
                    </div>
                </div>
            </div>
            <div class="row px-2" *ngIf="product.data && product.data.length > 0">
                <div class="col-6 col-md-3 col-xl-2dot4 px-2 mb-3" *ngFor="let item of product.data">
                    <app-box-product [item]="item"></app-box-product>
                </div>
                <div class="text-right col">
                    <button
                        [routerLink]="['/' + globals.language.getCode() + '/'+ product.group.link + '/' + product.link  ]"
                        role="button" class="d-inline-flex align-items-center btn btn-white rounded-0 py-2 px-4 mt-3">
                        <span class="mr-2"> {{ 'FEbtn.more' | translate }} </span>
                        <i class="fal fa-long-arrow-right text-danger"></i>
                    </button>
                </div>
            </div>

            <div class="text-center" *ngIf="!product.data || product.data.length == 0">
                <h4 class="my-4 color-main product-not-have">
                    {{ 'FEProduct.notUpdated' | translate }}
                </h4>
            </div>
        </div>
    </div>
</div>
<div class="bg-about py-4 py-md-5" *ngIf="about.data.name && about.data.name.length > 0">
    <div class="container-main">
        <div class="container-fluid">
            <div class="row align-items-center ">
                <div class="col-md-6">
                    <div class="title text-uppercase ">
                        <p class="font-weight-bold text-danger mb-0">{{about.data.name}}</p>
                        <h3 class="about-border">{{about.data.title}}</h3>
                    </div>
                    <div class="d-md-none py-4 text-center">
                        <img [defaultImage]="about.data.images" [lazyLoad]="about.data.images" [alt]="about.data.name"
                            style="max-width: 100%;" />
                    </div>
                    <div class="about-description text-justify py-2">{{about.data.description}}</div>
                    <button [routerLink]="['/' + globals.language.getCode() + '/'+ about.data.link]" role="button"
                        class="d-inline-flex align-items-center btn btn-white rounded-0 py-2 px-4 mt-3">
                        <span class="mr-2"> {{ 'FEbtn.more' | translate }} </span>
                        <i class="fal fa-long-arrow-right text-danger"></i>
                    </button>
                </div>
                <div class="col-md-6 d-none d-md-block text-right">
                    <img [defaultImage]="about.data.images" [lazyLoad]="about.data.images" [alt]="about.data.name"
                        style="max-width: 100%;" />
                </div>
            </div>
        </div>
    </div>
</div>
<div class="box-content bg-light py-4 py-md-5 " *ngIf="content.data.name && content.data.name.length > 0">
    <div class="container-main">
        <div class="container-fluid">
            <div class="row align-items-end">
                <div class="col-md-4">
                    <div class="title col-md-12 text-right text-uppercase ">
                        <p class="font-weight-bold">{{content.data.name}}</p>
                        <h3 class="">{{content.data.title}}</h3>
                    </div>
                </div>
                <div class="col-md-8 text-right">
                    <button [routerLink]="['/' + globals.language.getCode() + '/'+ content.data.link]" role="button"
                        class="d-inline-flex align-items-center btn rounded-0 py-2 px-4 mt-3">
                        <span class="mr-2"> {{ 'FEbtn.more' | translate }} </span>
                        <i class="fal fa-long-arrow-right text-danger"></i>
                    </button>
                </div>
            </div>
            <div class="row pt-4">
                <div class="col-md-3 col-12" *ngFor="let item of content.data.list">
                    <app-box-content [item]="item" class="d-none d-md-block" [type]="0"></app-box-content>
                    <app-box-content [item]="item" class="d-block d-md-none" [type]="1"></app-box-content>
                </div>
            </div>
        </div>
    </div>
</div>