@import "../../../style/mixins";

.title {
    position: relative;

    .bottom-dots {
        position : absolute;
        bottom   : -10%;
        left     : 50%;
        transform: translateX(-50%);

        .dot {
            position          : relative;
            display           : block;
            float             : left;
            width             : 3px;
            height            : 3px;
            border-right      : 3px solid;
            margin-right      : 3px;
            border-right-color: var(--color);
        }

        .line-dot {
            border-right      : 40px solid;
            border-right-color: var(--color);
        }
    }
}

.bg-about {
    background-image     : url(../../../assets/img/bg-about.png);
    background-size      : cover;
    background-attachment: fixed;
    background-repeat    : no-repeat;
    border-bottom        : 0.5px dashed var(--color);
    border-top           : 0.5px dashed var(--color);

    button {
        &:hover {
            color           : #333 !important;
            background-color: transparent;
            border          : 0.5px dashed var(--color);
        }

        >i {
            font-size: 1.25rem;
        }
    }
}

.product {
    &-hearder {
        margin: auto;

        .title-description {
            max-width: 50%;
            margin   : auto;

            @include viewport-sm {
                max-width: 100%;
            }
        }

        .product-group {
            margin: 0 auto;

            &-item {
                margin          : 4px;
                font-size       : 14px;
                border          : 1px solid transparent;
                border-radius   : 1rem;
                color           : #333;
                cursor          : pointer;
                background-color: unset;
            }

            .active {
                border-color: var(--color) !important;
                color       : var(--color) !important;

            }
        }
    }
}

.box-content {
    button {
        background-color: #ffffff;

        &:hover {
            color           : #333 !important;
            background-color: transparent;
            border          : 0.5px dashed var(--color);
        }

        >i {
            font-size: 1.25rem;
        }
    }
}