<div class="footer">
    <div class="container-main">
        <div class="container-fluid">
            <div class="row pt-3 pb-2">
                <div class=" col-md-3 col-6 pt-3 " *ngIf="about.data && about.data.length >0 ">
                    <h3 class="footer-title mb-3 font-weight-bold text-uppercase text-white">
                        {{'FEFooter.about' | translate}}
                    </h3>
                    <div class="mb-2">
                        <ul class="p-0" style="list-style: none;">
                            <li class="mb-1  d-block" *ngFor="let item of about.data">
                                <a class="footer-item" [routerLink]="['/'+ getType(item.link, item.type) ]"
                                    routerLinkActive="active-footer">
                                    {{item.name}}
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class=" col-md-3 col-6 pt-3 d-none d-md-block" *ngIf="service.data && service.data.length >0 ">
                    <h3 class="footer-title mb-3 font-weight-bold text-uppercase text-white">
                        {{'FEFooter.products' | translate}}
                    </h3>
                    <div class="mb-2">
                        <ul class="p-0" style="list-style: none;">
                            <li class="mb-1  d-block" *ngFor="let item of service.data">
                                <a class="footer-item" [routerLink]="[  '/'+ getType(item.link, item.type)  ]"
                                    routerLinkActive="active-footer">
                                    {{item.name}}
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class=" col-md-3 col-6 pt-3 " *ngIf="policy.data && policy.data.length >0 ">
                    <h3 class="footer-title mb-3 font-weight-bold text-uppercase text-white">
                        {{'FEFooter.policy' | translate}}
                    </h3>
                    <div class="mb-2">
                        <ul class="p-0" style="list-style: none;">
                            <li class="mb-1  d-block" *ngFor="let item of policy.data">
                                <a *ngIf="item.link.split('/')[1] != 'dang-ky-ten-mien'" class="footer-item"
                                    [routerLink]="[  '/'+ getType(item.link, item.type)  ]"
                                    routerLinkActive="active-footer">
                                    {{item.name}}
                                </a>
                                <a *ngIf="item.link.split('/')[1] == 'dang-ky-ten-mien'" class="footer-item"
                                    href="https://chips.vn/products/domains/domain-pricing" target="_blank">
                                    {{item.name}}
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class=" col-md-3 pt-3 pr-md-0">
                    <h3 class="footer-title mb-3 font-weight-bold text-uppercase text-white">
                        {{'FEFooter.contact' | translate}}
                    </h3>
                    <div class="mb-2">
                        <p class="footer-item  mb-1"
                            *ngIf="('FEAddress' | translate)!='FEAddress' && ('FEAddress' | translate)!=''">
                            {{'FEFooter.address' | translate}} {{'FEAddress' | translate}}
                        </p>
                        <p class="footer-item  mb-1 "
                            *ngIf="('FEPhone' | translate)!='FEPhone' || ('FEPhone_2' | translate)!='FEPhone_2'">
                            {{'FEFooter.phone' | translate}}
                            <a href="tel:{{'FEPhone'|translate}}" class="font-weight-bold" style="color: #d1d3d6">
                                {{'FEPhone'|translate}}
                            </a><span
                                *ngIf="('FEPhone_2' | translate)!='FEPhone_2' && ('FEPhone_2' | translate)!=''">-</span>
                            <a href="tel:{{'FEPhone_2'|translate}}" class="font-weight-bold" style="color: #d1d3d6">
                                {{'FEPhone_2'|translate}}
                            </a>
                        </p>
                        <p class="footer-item  mb-1"
                            *ngIf="('FEMail' | translate)!='FEMail' && ('FEMail' | translate)!=''">
                            {{'FEFooter.email'|translate}}
                            <a href="mailto:{{'FEMail'|translate}}" class="font-weight-bold" style="color: #d1d3d6">
                                {{'FEMail' | translate}}
                            </a>
                        </p>
                    </div>
                    <nav class="nav flex-nowrap text-center p-3 ">
                        <li class="nav-item flex-fill text-center"
                            *ngIf="('FEHrefFacebook' | translate) != 'FEHrefFacebook' && ('FEHrefFacebook' | translate) != ''">
                            <a class="nav-link p-0 text-secondary social-link"
                               [href]="('FEHrefFacebook' | translate)"
                               target="_blank">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li class="nav-item flex-fill text-center "
                            *ngIf="('FEHrefInstagram' | translate) != 'FEHrefInstagram' && ('FEHrefInstagram' | translate) != ''">
                            <a class="nav-link p-0 text-secondary social-link"
                               [href]="('FEHrefFacebook' | translate)"
                               target="_blank">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>
                        <li class="nav-item flex-fill text-center"
                            *ngIf="('FEHrefZalo' | translate) != 'FEHrefZalo' && ('FEHrefZalo' | translate) != ''">
                            <a class="nav-link p-0 text-secondary social-link"
                               [href]="('FEHrefZalo' | translate)"
                               target="_blank">
                                Zalo
                            </a>
                        </li>
                        <li class="nav-item flex-fill text-center"
                            *ngIf="('FEHrefYoutube' | translate) != 'FEHrefYoutube' && ('FEHrefYoutube' | translate) != ''">
                            <a class="nav-link p-0 text-secondary social-link"
                               [href]="('FEHrefYoutube' | translate)"
                               target="_blank">
                                <i class="fab fa-youtube"></i>
                            </a>
                        </li>
                    </nav>
                </div>
            </div>
            <hr class="m-0 bg-light" />
            <div class="row align-center-items py-2">
                <div class="col-md-6 text-center text-md-left">
                    <p class="text-white mb-0"> {{ 'copyright' | translate }} </p>
                </div>
                <div class="col-md-6 text-center text-md-right">
                    <div class="d-inline-flex">
                        <span class="text-white mr-2"> Powered by</span>
                        <a class="text-white " style="text-decoration: none" href="https://chips.vn" target="_blank"
                            rel="noopener noreferrer">Chips</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>