@import "../../../../style/mixins";

.footer {
    background-color: #010f27;



    hr {
        border-top-color: #575758 !important;
    }


    &-title {
        font-size: 18px;

        @include viewport-sm {
            font-size: 14px;
        }
    }

    &-item {
        color          : #ddd;
        cursor         : pointer;
        font-size      : 14px;
        text-decoration: none;
        
        @include viewport-sm {
            font-size: 13px;
        }
    }

    .social-link {
        display   : inline-block;
        transition: all 0.3s;
        font-size : 18px;
    }

    .social-link:hover {
        transform   : scale(1.1);
        color       : #ffffff;
        border-color: #ffffff;
    }
}