<form [formGroup]="fm" *ngIf="fm" (submit)='$event.stopPropagation()'>
    <div class="card w-100">
        <div class="card-header">
            <strong>{{ ((id && id !=0)?'pages.edit':'pages.add') | translate : {name : fm.value.name} }}</strong>
        </div>
        <div class="card-body">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <label>{{ 'lblName' | translate }}</label>
                            <input type="text" (keyup)="onChangeLink($event)" class="form-control" name="name"
                                formControlName="name" placeholder="{{ 'lblGroup' | translate }}" required>
                            <small style="color:red"
                                *ngIf="required || fm.get('name').invalid && fm.get('name').touched">{{'message.required'|translate}}</small>
                        </div>

                        <div class="form-group">
                            <label>{{ 'lblLink' | translate }}</label>
                            <input *ngIf="type != 1 " type="text" (keyup)="link._keyup($event)"
                                [(ngModel)]="fm.value.link" class="form-control" name="link" formControlName="link"
                                placeholder="{{ 'lblLink' | translate }}">
                            <input *ngIf="type == 1 " type="text" class="form-control" name="link"
                                formControlName="link" placeholder="{{ 'lblLink' | translate }}">
                            <small style="color:red"
                                *ngIf="required || fm.get('link').invalid && fm.get('link').touched">{{'message.required'|translate}}</small>
                        </div>
                        <div class="form-group">
                            <label>Title</label>
                            <input type="text" class="form-control" name="title" formControlName="title">
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>{{ 'lblparent_name' | translate }}</label>
                                    <div>
                                        <select formControlName="parent_id" class="form-control selectpicker">
                                            <option selected [value]='0'>Chọn trang cha</option>
                                            <option *ngFor="let page of listPages" [value]="page.id"
                                                [ngClass]="{'d-none': id > 0 && id == page.id  }">
                                                {{page.name}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>{{ 'lblOrders' | translate }}</label>
                                    <input type="number" min="0" class="form-control" name="order"
                                        formControlName="orders" placeholder="{{ 'lblOrders' | translate }}">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="d-flex justify-content-start">
                            <div class="form-group mb-1">
                                <label class="mb-1 ml-1">{{ 'lblImages' | translate }}</label>
                                <div class="imagesThumb" *ngIf="images" style="height: 110px;">
                                    <div *ngFor="let item of images.data ; let i = index">
                                        <img [src]="item.src" *ngIf="item.type==0 || item.type==1" />
                                        <span (click)="images._change($event,item)" *ngIf="item.type==0 || item.type==1"
                                            class="change">
                                            <i class="far fa-image"></i>
                                        </span>
                                        <span (click)="images._del(i)" *ngIf="item.type==0 || item.type==1" class="del">
                                            <i class="fas fa-times"></i>
                                        </span>
                                        <span (click)="images._push($event)" *ngIf="item.type==2" class="add">
                                            <i class="fas fa-plus-circle"></i>
                                        </span>
                                    </div>
                                    <input type="file" (change)="images._onchange($event)"
                                        accept="image/png, image/jpeg">
                                </div>
                                <small style="margin-left: 12px;"> {{type == 3 ? '(300px x 300px)' : '' }} </small>
                            </div>
                            <!-- <div class="form-group mb-1">
                                <label class="mb-1 ml-1">{{ 'lblIcon' | translate }}</label>
                                <div class="imagesThumb" *ngIf="icons" style="height: 110px;">
                                    <div *ngFor="let item of icons.data ; let i = index">
                                        <img [src]="item.src" *ngIf="item.type==0 || item.type==1" />
                                        <span (click)="icons._change($event,item)" *ngIf="item.type==0 || item.type==1"
                                            class="change">
                                            <i class="far fa-image"></i>
                                        </span>
                                        <span (click)="icons._del(i)" *ngIf="item.type==0 || item.type==1" class="del">
                                            <i class="fas fa-times"></i>
                                        </span>
                                        <span (click)="icons._push($event)" *ngIf="item.type==2" class="add">
                                            <i class="fas fa-plus-circle"></i>
                                        </span>
                                    </div>
                                    <input type="file" (change)="icons._onchange($event)"
                                        accept="image/png, image/jpeg">
                                </div>
                                <small style="margin-left: 18px;"> {{type == 3 ? '(64px x 64px)' : '' }} </small>
                            </div> -->
                        </div>

                        <div class="form-group ml-1 pt-3">
                            <label for="exampleFormControlTextarea1">{{'lblDescription' | translate}}</label>
                            <textarea formControlName="description" class="form-control"
                                id="exampleFormControlTextarea1" rows="5"></textarea>
                        </div>

                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <label>{{'lblKeyword' | translate}}</label>
                            <input type="text" class="form-control" (keyup)="tags._keyup($event)">
                            <div class="keywords mt-3">
                                <button type="button" class="btn btn-info mr-1 mt-1"
                                    *ngFor="let item of tags.dataList">{{item}}
                                    <i class="fas fa-times text-danger" (click)="tags._remove(item)"></i>
                                </button>
                            </div>
                        </div>
                        <div class="form-group" *ngIf=" type == 3">
                            <label>{{'lblDetail' | translate }}</label>
                            <ckeditor id="ckeditorDetail" class="ckeditorDetail" [config]="globals.configCkeditor"
                                data="detail" formControlName="detail">
                            </ckeditor>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="float-left">
                <label class="lable-switch pull-left">
                    <div class="switch">
                        <input checked="checked" formControlName="status" type="checkbox" name="status">
                        <span class="lever"></span>
                    </div>
                    <span ng-bind="lang.lbl_status_on"
                        class="ng-binding">{{ (fm.value.status == 1 ? 'status.on' : 'status.off') | translate }}</span>
                </label>
            </div>
            <button type="button" (click)="onSubmit()" class="btn btn-success float-right">{{'btn.save'
                | translate }}</button>
            <button type="button" [routerLink]="[(id && id !=0)?'../../get-list':'../get-list']"
                class="btn btn-primary float-right mr-2">{{'btn.back'
                | translate }}
            </button>
        </div>
    </div>
</form>