.slide {
    --height: 400px;

    &-bg {
        height  : var(--height);
        position: relative;
        overflow: hidden;

        img {
            object-fit                 : cover;
            cursor                     : default;
            backface-visibility        : hidden;
            -webkit-backface-visibility: hidden;
            -moz-backface-visibility   : hidden;
        }
    }

    &-content {
        position : absolute;
        max-width: 1124px;
        padding  : 0 15px;
        width    : 100%;
        margin   : auto;
        left     : 50%;
        top      : 50%;
        transform: translate(-50%, -50%);

    }

    &-description {
        background-color: rgba(0, 0, 0, 0.33);
    }

    &-title {
        font-size       : 2.625rem;
        background-color: rgba(0, 0, 0, 0.33);
    }

    &-btn {
        border: 1px dashed transparent;

        >i {
            font-size: 1.25rem;
            color    : var(--color);
        }

        &:hover {
            color           : #ffffff !important;
            background-color: var(--color);
            border          : 1px dashed #ffffff;

            >i {
                color: #ffffff !important;
            }
        }
    }
}