<div class="slide" *ngIf="slide.data && slide.data.length > 0">
    <owl-carousel-o [options]="slideOptions">
        <ng-container *ngFor="let item of slide.data">
            <ng-template carouselSlide>
                <div class="slide-bg">
                    <img  [defaultImage]="'../../../../assets/img/defaut-slide.png'" [lazyLoad]="item.images"
                        [alt]="item.name" width="100%" height="100%" />
                    <div class="slide-content d-flex flex-column justify-content-center">
                        <div class="w-100" *ngIf="item.position && item.position < 4"
                            [ngClass]="+item.position == 1 ? 'text-right' : (+item.position == 2 ? 'text-center' :'text-left') ">
                            <p class="d-inline-block slide-description text-white px-2 py-1"
                                [ngClass]="{'invisible': item.description == ''}">
                                {{ item.description }}
                            </p>
                            <br />
                            <h2 class="d-inline-block slide-title text-uppercase text-white px-2 py-1">
                                {{ item.title ? item.title : item.name }}
                            </h2>
                            <div class="mt-3">
                                <a [href]="item.link"
                                    class="d-inline-flex align-items-center slide-btn btn btn-light rounded-0 py-2 px-4"
                                    role="button" target="_blank">
                                    <span class="mr-2">
                                        {{ 'FEbtn.viewDetail' | translate }}
                                    </span>
                                    <i class="fal fa-long-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </ng-container>
    </owl-carousel-o>
</div>