<header class="bg-white">
    <div class="header-top">
        <div class="container-main ">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6 d-none d-md-block">
                        <div class="contact d-flex align-items-center py-2 ">
                            <a *ngIf="('FEMail' | translate) != 'FEMail' && ('FEMail' | translate) != ''"
                                href="mailto:{{'FEMail'|translate}}" class="pr-4">
                                <i class="fas fa-envelope mr-1"></i>
                                {{'FEMail'|translate}}
                            </a>
                            <a *ngIf="('FEPhone' | translate) != 'FEPhone' && ('FEPhone' | translate) != ''"
                                href="tel:{{'FEPhone'|translate}}">
                                <i class="fas fa-phone-alt mr-1 "></i>
                                {{'FEPhone'|translate}}
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="d-flex align-items-center justify-content-end py-2">
                            <div class="header-social ">
                                <a target="_blank" [href]="('FEHrefFacebook' | translate)"
                                    *ngIf="('FEHrefFacebook' | translate)!='FEHrefFacebook'"
                                    class="footer-social mr-4 text-black-50">
                                    <i class="fab fa-facebook-f font-weight-bold"></i>
                                </a>
                                <a target="_blank" [href]="('FEHrefInstagram' | translate)"
                                    *ngIf="('FEHrefInstagram' | translate)!='FEHrefInstagram'"
                                    class="footer-social mr-4 text-black-50">
                                    <i class="fab fa-instagram font-weight-bold "></i>
                                </a>
                                <a target="_blank" [href]="('FEHrefYoutube' | translate)"
                                    *ngIf="('FEHrefYoutube' |  translate)!='FEHrefYoutube'"
                                    class="footer-social mr-4 text-black-50">
                                    <i class="fab fa-youtube font-weight-bold"></i>
                                </a>
                                <a target="_blank" [href]="('FEHerfSkype' | translate)"
                                    *ngIf="('FEHerfSkype' |  translate)!='FEHerfSkype'"
                                    class="footer-social mr-4 text-black-50">
                                    <i class="fab fa-skype font-weight-bold"></i>
                                </a>
                            </div>
                            <div>
                                <div style="cursor: pointer;width: 25px;" (click)="search.showSearch()">
                                    <i class="fas fa-search " *ngIf="!search.icon"></i>
                                    <i class="fas fa-times" *ngIf="search.icon"></i>
                                </div>
                                <div class="search " *ngIf="search.icon">
                                    <input type="text" id="search" (keyup.enter)="search.onSearch();" autofocus
                                        [(ngModel)]="search.value" autocomplete="off"
                                        class="form-control input-search w-100"
                                        placeholder="{{'FESearch.search'|translate}}">

                                    <div class="position-absolute" style="top:14px; right: 15px;cursor: pointer;"
                                        (click)="search.onSearch()">
                                        <i class="fas fa-search text-black-50"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex align-items-center justify-content-between ml-3 pl-3 border-left">
                                <div class="language " *ngFor="let item of mutiLang.data; let i = index"
                                    (click)="onLanguage(item.id)">
                                    <span class="text-uppercase "
                                        [ngClass]="{'language-active': item.id == mutiLang.active.id }">
                                        {{item.code}}
                                    </span>
                                    <span class="mr-1" *ngIf="i < mutiLang.data.length -1 ">-</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="m-0" />
            </div>
        </div>
    </div>
    <div id="header-center" class="header-center">
        <div class="container-main">
            <div class="container-fluid">
                <div class="row py-1 py-md-2 ">
                    <div class="col-md-12">
                        <div class=" d-flex align-items-center justify-content-between">
                            <div *ngIf="company.logo && company.logo.length > 0" style="cursor: pointer;">
                                <a [routerLink]="['/' + mutiLang.active.code ]">
                                    <img class="logo-header" [defaultImage]="company.logo" [lazyLoad]="company.logo"
                                        [title]="company.name" [alt]="company.name" *ngIf="company" />
                                </a>
                            </div>
                            <div>
                                <div class="d-none d-lg-block">
                                    <app-menu></app-menu>
                                </div>
                                <div class="ml-2 d-lg-none d-block pt-2 pb-2">
                                    <button (click)="menuMobile.onMenu(!menuMobile.show)"
                                        class="btn bg-transparent nav-open-btn "
                                        [ngClass]="{'active': menuMobile.show == false }">
                                        <span class="line line1"></span>
                                        <span class="line line2"></span>
                                        <span class="line line3"></span>
                                    </button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<div id="menu-mobi" class="menu-mobi menu-mobi-hidden w-100 bg-white">
    <app-menu-mobile class="d-lg-none d-block" (menumobile)="menuMobile.onMenu(!menuMobile.show)"></app-menu-mobile>
</div>