<div class="py-md-5 py-4 bg-light">
    <div class="container-main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="title-page">
                        <div class="d-md-flex align-items-lg-center justify-content-between">
                            <h2 class="mb-1">{{contact.data.name}}</h2>
                            <nav aria-label="breadcrumb " *ngIf="contact.data.name && contact.data.name.length > 0">
                                <ol class="breadcrumb bg-transparent border-0 m-0 p-0">
                                    <li class="breadcrumb-item " aria-current="page">
                                        <a [routerLink]="['/']">
                                            {{ 'lblHome' | translate }}
                                        </a>
                                    </li>
                                    <li class="breadcrumb-item active" aria-current="page">
                                        <p class="breadcrumb-item-text d-inline-block mb-0">{{ contact.data.name }}</p>
                                    </li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="py-md-5 py-4">
    <div class="container-main">
        <div class="container-fluid">
            <div class="row ">
                <div class="col-md-12">
                    <div class="title-contact mb-3">
                        <span class="br-text d-flex align-items-center">{{'FEContact.support'| translate}}</span>
                    </div>
                </div>
                <div class="col-md-6 content-contact">
                    <h3 class="font-weight-bold" style="font-size: 20px;">{{'FEContact.titleForm'| translate}}</h3>
                    <form [formGroup]="fm" *ngIf="fm">
                        <div class="form-group">
                            <label>{{ 'FEContact.name' | translate }}</label>
                            <input type="text" autocomplete="off" class="form-control" name="name"
                                formControlName="name">
                            <small style="color:red"
                                *ngIf="fm.get('name').invalid && fm.get('name').touched">{{'message.required'|translate}}</small>
                        </div>
                        <div class="d-md-flex">
                            <div class="form-group w-100 mr-3">
                                <label>{{ 'FEContact.email' | translate }}</label>
                                <input type="email" autocomplete="off" class="form-control" name="email"
                                    formControlName="email">
                                <small style="color:red"
                                    *ngIf="fm.get('email').invalid && fm.get('email').touched">{{'message.email'|translate}}</small>
                            </div>
                            <div class="form-group w-100">
                                <label>{{ 'FEContact.phone' | translate }}</label>
                                <input type="text" autocomplete="off" class="form-control" name="phone"
                                    formControlName="phone">
                                <small style="color:red"
                                    *ngIf="fm.get('phone').invalid && fm.get('phone').touched">{{'message.phone'|translate}}</small>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>{{ 'FEContact.subject' | translate }}</label>
                            <input type="text" autocomplete="off" class="form-control" name="subject"
                                formControlName="subject">
                            <small style="color:red"
                                *ngIf="fm.get('subject').invalid && fm.get('subject').touched">{{'message.required'|translate}}</small>
                        </div>
                        <div class="form-group">
                            <label>{{ 'FEContact.message' | translate }}</label>
                            <textarea type="text" autocomplete="off" name="message" rows="4" formControlName="message"
                                class="form-control h-4"></textarea>
                            <small style="color:red"
                                *ngIf="fm.get('message').invalid && fm.get('message').touched">{{'message.required'|translate}}</small>
                        </div>
                    </form>
                    <div class=" text-right pt-3">
                        <button type="button" class="btn btn-outline-primary animation-contact animated w-100"
                            (click)="contact.addContact()">
                            {{ 'FEbtn.send' | translate }}
                            <i class="fas fa-paper-plane  ml-1"></i>
                        </button>
                    </div>

                </div>
                <div class="col-md-6 pl-md-5">
                    <h3 class="font-weight-bold" style="font-size: 20px;">{{'FEContact.titleInfo'| translate}}</h3>
                    <div class="mt-3"
                        *ngIf="('FECompanyName' | translate) != 'FECompanyName' && ('FECompanyName' | translate) != ''">
                        <h4 class="font-weight-bold mb-0"> {{'FECompanyName'|translate}}</h4>
                    </div>
                    <div class="mb-3"
                        *ngIf="('FEDescription' | translate) != 'FEDescription' && ('FEDescription' | translate) != ''">
                        {{'FEDescription'|translate}}
                    </div>
                    <div class="mb-3"
                        *ngIf="('FEAddress' | translate) != 'FEAddress' && ('FEAddress' | translate) != ''">
                        <div class="font-weight-bold">
                            <i class="fas fa-map-marker-alt mr-1" style="color: var(--color);"></i>
                            {{'lblAddress' | translate}}:
                        </div>
                        <div>
                            {{'FEAddress'|translate}}
                        </div>
                    </div>
                    <div class="mb-3"
                        *ngIf="('FETaxCode' | translate) != 'FETaxCode' && ('FETaxCode' | translate) != ''">
                        <div class="font-weight-bold">
                            <i class="fas fa-building mr-1" style="color: var(--color);"></i>
                            {{'lblTaxCode' | translate}}:
                        </div>
                        <div>
                            {{'FETaxCode'|translate}}
                        </div>
                    </div>
                    <div class="mb-3"
                        *ngIf="(('FEMail' | translate) != 'FEMail' && ('FEMail' | translate) != '') || (('FEMail_2' | translate) != 'FEMail_2' && ('FEMail_2' | translate) != '')">

                        <div class="font-weight-bold">
                            <i class="fas fa-envelope mr-1" style="color: var(--color);"></i>
                            {{'lblEmail' | translate}}:
                        </div>
                        <a href="mailto:{{'FEMail'|translate}}" class="text-dark">
                            {{'FEMail'|translate}}
                        </a>

                        <span *ngIf="('FEMail_2' | translate) != 'FEMail_2' && ('FEMail_2' | translate) != ''">
                            -
                        </span>
                        <a *ngIf="('FEMail_2' | translate) != 'FEMail_2' && ('FEMail_2' | translate) != ''"
                            href="mailto:{{'FEMail_2'|translate}}" class="text-dark">
                            {{'FEMail_2'|translate}}
                        </a>
                    </div>
                    <div class="mb-3"
                        *ngIf="(('FEPhone' | translate) != 'FEPhone' && ('FEPhone' | translate) != '') || (('FEPhone_2' | translate) != 'FEPhone_2' && ('FEPhone_2' | translate) != '')">
                        <div class="font-weight-bold">
                            <i class="fas fa-phone mr-1" style="color: var(--color);"></i>
                            {{'lblPhone' | translate}}:
                        </div>
                        <a href="tel:{{'FEPhone'|translate}}" class="text-dark">
                            {{'FEPhone'|translate}}
                        </a>
                        <span *ngIf="('FEPhone_2' | translate) != 'FEPhone_2' && ('FEPhone_2' | translate) != ''">
                            -
                        </span>
                        <a *ngIf="('FEPhone_2' | translate) != 'FEPhone_2' && ('FEPhone_2' | translate) != ''"
                            href="tel:{{'FEPhone_2'|translate}}" class="text-dark">
                            {{'FEPhone_2'|translate}}
                        </a>
                    </div>
                    <div *ngIf="(('FEFax' | translate) != 'FEFax' && ('FEFax' | translate) != '')">
                        <div class="font-weight-bold">
                            <i class="fas fa-fax mr-1" style="color: var(--color);"></i>
                            {{'lblFax' | translate}}:
                        </div>
                        <a class="text-dark">
                            {{'FEFax'|translate}}
                        </a>

                    </div>
                    <nav class="nav flex-nowrap text-center p-3 bg-light">
                        <li class="nav-item flex-fill text-center"
                            *ngIf="('FEHrefFacebook' | translate) != 'FEHrefFacebook' && ('FEHrefFacebook' | translate) != ''">
                            <a class="nav-link p-0 text-secondary social-link" [href]="('FEHrefFacebook' | translate)"
                                target="_blank">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li class="nav-item flex-fill text-center "
                            *ngIf="('FEHrefInstagram' | translate) != 'FEHrefInstagram' && ('FEHrefInstagram' | translate) != ''">
                            <a class="nav-link p-0 text-secondary social-link" [href]="('FEHrefFacebook' | translate)"
                                target="_blank">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>
                        <li class="nav-item flex-fill text-center"
                            *ngIf="('FEHrefZalo' | translate) != 'FEHrefZalo' && ('FEHrefZalo' | translate) != ''">
                            <a class="nav-link p-0 text-secondary social-link" [href]="('FEHrefZalo' | translate)"
                                target="_blank">
                                Zalo
                            </a>
                        </li>
                        <li class="nav-item flex-fill text-center"
                            *ngIf="('FEHrefYoutube' | translate) != 'FEHrefYoutube' && ('FEHrefYoutube' | translate) != ''">
                            <a class="nav-link p-0 text-secondary social-link" [href]="('FEHrefYoutube' | translate)"
                                target="_blank">
                                <i class="fab fa-youtube"></i>
                            </a>
                        </li>
                    </nav>
                </div>
            </div>
            <div class="map-contact pt-5 " [innerHTML]="('FEMap'|translate) | sanitizeHtml"></div>
        </div>
    </div>
</div>