@keyframes slideUp {
    0% {
        opacity  : 0;
        transform: translateY(50px);
    }

    60% {
        opacity  : 0;
        transform: translateY(25px);
    }

    100% {
        opacity  : 1;
        transform: translateY(0);
    }
}

@keyframes slideDown {
    0% {
        opacity  : 0;
        transform: translateY(-50px);
    }

    60% {
        opacity  : 0;
        transform: translateY(-25px);
    }

    100% {
        opacity  : 1;
        transform: translateY(0);
    }
}

@keyframes rubberBand {
    from {
        transform: scale3d(1, 1, 1);
    }

    30% {
        transform: scale3d(1.25, 0.75, 1);
    }

    40% {
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        transform: scale3d(.95, 1.05, 1);
    }

    75% {
        transform: scale3d(1.05, .95, 1);
    }

    to {
        transform: scale3d(1, 1, 1);
    }
}
// @keyframes navbar-fixed {
//     0% {
//         opacity: 0;
//         transform: translateX(-100%);
//     }
//     100% {
//         opacity: 1;
//         transform: translateX(0);
//     }
// }
@keyframes  navbar-fixed {
    from {
        opacity: 0;
        top: -12.5rem;
    }
    to {
        opacity: 1;
        top: 0;
    }
}