@import '~ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';
@import 'mixins';
@import 'animations';

@font-face {
    font-family: GoogleSans;
    src: url(../assets/font/GoogleSans.ttf);
}

:root {
    --color: #bb191b;
    --colorMain: #4185f2;
    --colorText: #525252;
}

body {
    font-family: GoogleSans;
    width: 100%;
}

img {
    vertical-align: top;
    transform: translateZ(0);
}

a,
a img {
    transition: 0.2s ease-out;
}

button:focus,
.btn:focus {
    outline: 0;
    box-shadow: none;
}

.container-main {
    max-width: 1124px;
    margin: 0 auto;
}

.color-main {
    color: var(--colorMain);
}

.map-contact iframe {
    width: 100%;
}

.content-page img,
#contentDetail img,
#chips-detail img {
    max-width: 100% !important;
    height: auto !important;
}

.fixed-action-btn {
    position: fixed;
    bottom: 65px;
    right: 24px;
    padding-top: 15px;
    margin-bottom: 0;
    z-index: 2;
}

.fixed-action-btn .getlistadd {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background: red;
}

.asidebar {
    position: fixed;
    top: 50px;
    padding-top: 20px;
    z-index: 9;
    width: 200px;
    height: 100%;
    animation: 0.7s sidebar;
}

@keyframes sidebar {
    0% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes slide-down {
    0% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

#slide .item {
    width: 100%;
    height: 100%;
}

//all page

.title-page h2 {
    font-size: 32px;
    font-weight: 600;
}

.title-page p {
    font-size: 18px;
}

.breadcrumb-item a {
    color: #212529;
}

.breadcrumb .active {
    color: var(--hover-text-color);
}

.breadcrumb-item a:hover {
    color: var(--hover-text-color);
    text-decoration: none;
}

.breadcrumb-item + .breadcrumb-item::before {
    color: #c1c1c1;
}

@media (max-width: 415px) {
    .title-page h2 {
        font-size: 25px;
        font-weight: 600;
    }
}

//price product
.card-body .ng5-slider .ng5-slider-pointer {
    width: 15px;
    height: 15px;
    top: -6px;
    outline: none;
}

.card-body .ng5-slider .ng5-slider-pointer.ng5-slider-active::after {
    background-color: transparent !important;
}

button[disabled] {
    border: 1px solid #cccccc !important;
    background-color: #cccccc !important;
    color: #8a8a8a !important;
}

.owl-carousel.owl-theme {
    height: 100%;
    position: relative;
    .owl-nav {
        margin-top: 0;
        @include viewport-sm {
            display: none;
        }
        .owl-prev,
        .owl-next {
            margin: 0;
            padding: 0;
            position: absolute;
            top: 50%;
            border-radius: 0;
            transform: translateY(-50%);
            background-color: transparent;
        }
        .owl-prev {
            left: 0;
        }
        .owl-next {
            right: 0;
        }
    }

    .owl-dots {
        position: absolute;
        bottom: 0;
        display: flex;
        align-items: center;

        span {
            margin: 0 6px;
            border: 1px solid #fff;
            border-radius: 50%;
        }
    }
}

.slide {
    .active &-description {
        animation: slideUp 0.67s ease-out;
    }

    .active &-title {
        animation: slideUp 1s ease-out;
    }

    .active &-btn {
        animation: slideDown 1.67s ease-out;
    }

    .owl-nav {
        .owl-prev,
        .owl-next {
            opacity: 0.2;
            margin: 0 4.6875rem !important;
        }

        .owl-prev:hover,
        .owl-next:hover {
            opacity: 1;
        }
    }

    .owl-dots {
        --dotSize: 1rem;
        right: 4.6875rem;
        bottom: 1.5rem !important;

        span {
            background-color: transparent !important;
            transition: 0.25s ease-out !important;
        }

        .active > span {
            width: var(--dotSize);
            height: var(--dotSize);
            background-color: #fff !important;
        }
    }
}

.category {
    .owl-nav {
        // left: ;
        .owl-prev,
        .owl-next {
            opacity: 0.2;
        }

        .owl-prev:hover,
        .owl-next:hover {
            opacity: 1;
        }
    }
}

.search-modal {
    max-width: unset;
    height: 100vh !important;
    background-color: rgba(0, 0, 0, 0.67);

    .modal-content {
        width: 50% !important;

        @include viewport-lg {
            width: 60% !important;
        }

        @include viewport-md {
            width: 80% !important;
        }

        display: block;
        width: unset;
        border: none;
        border-radius: 0;
        background-color: unset;
    }
}

.breadcrumb-item-text {
    text-transform: lowercase;
    font-size: 12px;
    color: rgb(105, 103, 103);
}

.breadcrumb-item-text::first-letter {
    text-transform: uppercase !important;
}
