.right-asidebar {
    position     : relative;
    overflow     : hidden;
    margin-bottom: 30px;
    position     : sticky;
    top          : 100px;

    h3 {
        background  : var(--colorMain);
        padding-left: 40px;
        color       : #ffffff;
        font-size   : 14px;
        font-weight : 600;
        padding     : 15px;
    }
}

.description {
    border: 1px dashed rgb(48, 47, 47);
}