<div class="card">
    <div class="card-header">
        <div class="d-flex align-items-center justify-content-between" style="cursor: pointer;">
            <strong>{{'products.title' | translate }}</strong>
            <div class="float-md-right d-flex">
                <div class="input-group">
                    <input type="text" (keyup)="tableproduct._search()" [(ngModel)]="tableproduct.search.value"
                        class="form-control" placeholder="{{'search.lblList'|translate}}">
                </div>
            </div>
        </div>
    </div>
    <div style="overflow-x:auto;">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th class="pointer" *ngFor="let col of tableproduct.cols" (click)="tableproduct._sorting(col.field)"
                        [ngClass]="{ 'sorting' : tableproduct.sorting.field==col.field ,'cursor-pointer': col.filter==true  , 'hide' : col.show==false }">
                        <div [(ngSwitch)]="col.field">
                            <div *ngSwitchCase="'action'">{{col.title | translate }}</div>
                            <span *ngSwitchDefault>{{col.title | translate }}</span>
                            <i *ngIf="tableproduct.sorting.field==col.field" class="fa"
                                [ngClass]="{ 'fa-long-arrow-down' : tableproduct.sorting.sort=='asc' , 'fa-long-arrow-up' : tableproduct.sorting.sort=='desc' }"></i>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of tableproduct.data ; let v = index">
                    <td *ngFor="let col of tableproduct.cols" [ngClass]="{ 'hide' : col.show==false }">
                        <div [(ngSwitch)]="col.field">
                            <span *ngSwitchCase="'index'">{{v+1}}</span>
                            <div *ngSwitchCase="'name'" style="width:150px;">
                                <span class="text-white pl-2 pr-2" style="border-radius: 20px;"
                                    [ngClass]=" item.status == 1 ? 'bg-success' : 'bg-danger' ">
                                    {{ (item.status == 1 ? 'status.active' : 'status.disabled') | translate }}
                                </span>
                                <a class="nav-link p-0 text-dark  mt-3 "
                                    [routerLink]="['../update/',item.id]">{{item[col.field]}} </a>
                            </div>
                            <a *ngSwitchCase="'images'" class="nav-link" [routerLink]="['../update/',item.id]">
                                <img style="width:50px;"
                                    [src]="(item[col.field] && item[col.field].length > 3) ? globals.BASE_API_URL+'public/products/'+item[col.field] : ''">
                            </a>
                            <div *ngSwitchCase="'price'">
                                <div class="d-flex align-items-end">
                                    <div class="form-group mr-2">
                                        <label>{{'products.PromotionPrice' | translate }}</label>
                                        <input symbolNumber name="price_buy" (change)="price.onChange(item)"
                                            [(ngModel)]="item.price_buy" class="form-control price" />
                                    </div>
                                    <div class="form-group mr-2">
                                        <label>{{'products.PriceSaleProduct' | translate }}</label>
                                        <input symbolNumber name="price_sale" [(ngModel)]="item.price_sale"
                                            class="form-control price" (change)="price.onChange(item)" />
                                    </div>
                                </div>
                                <div class="text-danger " *ngIf="price.checkPrice(item.price_buy, item.price_sale)">
                                    Giá khuyến mãi phải nhỏ hơn giá </div>
                                <button *ngIf="price.skip && price.index == item.id" (click)="price.updatePrice(item)"
                                    class="btn btn-success btn-sm mb-3 pl-3 pr-3 " style="border-radius: 10px;"
                                    type="button">{{'btn.save'|translate}}</button>
                            </div>
                            <div *ngSwitchCase="'maker_date'" class='display-action '>
                                {{item[col.field]| date: 'dd/MM/yyyy' }}
                            </div>
                            <span *ngSwitchCase="'action'" class='display-action text-right'>
                                <button class="btn btn-link btn-sm " [routerLink]="['../update/',item.id]">
                                    <i class="fas fa-pencil-alt text-dark"></i>
                                </button>
                                <button class="btn btn-link btn-sm " (click)="onRemove(item)">
                                    <i class="fas fa-trash text-danger"></i>
                                </button>
                            </span>
                            <span *ngSwitchDefault>{{item[col.field]}}</span>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="card-footer">
        <div class="float-md-left">
            <span>{{ tableproduct.settings.first }} - {{ tableproduct.settings.last }} of
                {{ tableproduct.settings.total }}</span>
            <span>
                <a (click)="tableproduct._previousnext(false)" style="padding : 3px 5px;">
                    <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                </a>
                <a (click)="tableproduct._previousnext(true)" style="padding : 3px 5px;">
                    <i class="fa fa-angle-double-right"></i>
                </a>
            </span>
        </div>
    </div>
</div>
<div class="fixed-action-btn text-center">
    <a [routerLink]="['../insert']" class="text-white " style="text-decoration: none">
        <div class="getlistadd d-flex align-items-center justify-content-center">
            <i class="fas fa-plus"></i>
        </div>
    </a>
</div>