<div class="card  postion-sticky">
    <div class=" card-header">
        <strong>{{'contents.titleGroup' | translate }}</strong>
        <span class="tools pull-right float-md-right d-flex">
        </span>
    </div>
    <table class="table table-hover mb-0">
        <thead>
            <tr>
                <th *ngFor="let col of table.cols" (click)="table._sorting(col.field)" [ngClass]="{ 'sorting' : table.sorting.field==col.field ,'cursor-pointer': col.filter==true  , 'd-none' : col.show==false }">
                    <div [(ngSwitch)]="col.field">
                        <span *ngSwitchDefault>{{col.title | translate }}</span>
                        <i *ngIf="table.sorting.field==col.field" class=" " [ngClass]="{ 'fas fa-long-arrow-down' : table.sorting.sort=='asc' , 'fas fa-sort-amount-up-alt' : table.sorting.sort=='desc' }"></i>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of table.data; let i = index" class="cursor-pointer hover-row" (click)="onCheckItem(item)" [ngClass]="{'status-off': item.status && item.status==0 ,'activeRows' : item.check == true}">
                <td *ngFor="let col of table.cols" [ngClass]="{ 'd-none' : col.show==false}">
                    <span [(ngSwitch)]="col.field">
                        <div *ngSwitchCase="'count_content'" class="text-center">
                            {{item[col.field]}}
                        </div>
                        <span *ngSwitchCase="'name'">
                            {{item[col.field]}}
                        </span>
                    <span *ngSwitchDefault>{{item[col.field]}}</span>
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="card-footer">
        <div class="float-md-left">
            <span>{{ table.settings.first }} - {{ table.settings.last }} of {{ table.settings.total }}</span>
            <span>
                <a (click)="table._previousnext(false)" style="padding : 3px 5px;">
                    <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                </a>
                <a (click)="table._previousnext(true)" style="padding : 3px 5px;">
                    <i class="fa fa-angle-double-right"></i>
                </a>
            </span>
        </div>

    </div>
</div>