.menu {
    height  : 100%;
    position: relative;
}

.menu li {
    transition: .2s;
}

.menu-child .menu-child-title {
    border-bottom   : solid 1px var(--colorMain) !important;
    background-color: var(--colorMain) !important;
    color           : white;
}

.menu nav ul li.nav-item:last-child {
    border-bottom: none;
}

.mobile-slider {
    position        : absolute;
    left            : 100%;
    background-color: white;
    height          : calc(100vh - 6rem);
    width           : 100%;
    z-index         : 5;
    top             : 0;
    display         : block;
    visibility      : hidden;
    opacity         : 0;
    transition      : .4s;
    overflow        : hidden;
}

.active-menu-child.menu-child {
    left      : 0;
    visibility: visible;
    opacity   : 1;
    overflow  : auto;
}