<div class="py-md-5 py-4 bg-light">
    <div class="container-main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="title-page">
                        <div class="d-md-flex align-items-lg-center justify-content-between">
                            <h3 class="mb-1">{{data.name}}</h3>
                            <div class="d-none d-md-block">
                                <nav aria-label="breadcrumb " *ngIf="data.name && data.name.length > 0">
                                    <ol class="breadcrumb bg-transparent border-0 m-0 p-0">
                                        <li class="breadcrumb-item " aria-current="page">
                                            <a [routerLink]="['/']" routerLinkActive="router-link-active">
                                                <p class="breadcrumb-item-text d-inline-block mb-0">
                                                    {{ 'lblHome' | translate }}</p>
                                            </a>
                                        </li>
                                        <li class="breadcrumb-item " aria-current="page"
                                            *ngIf="data.parent_name && data.parent_name != ''">
                                            <a [routerLink]="['/' + globals.language.getCode() + '/' + data.parent_link]"
                                                routerLinkActive="router-link-active">
                                                <p class="breadcrumb-item-text d-inline-block mb-0">
                                                    {{ data.parent_name }} </p>
                                            </a>
                                        </li>
                                        <li class="breadcrumb-item active" aria-current="page">
                                            <p class="breadcrumb-item-text d-inline-block mb-0">{{ data.name }}</p>
                                        </li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="pageView == -1">
    <div class="position-relative d-flex align-items-center justify-content-center pt-lg-5 pt-4 pb-lg-5 pb-4">
        <img src="../../../../assets/img/loading.gif" width="125px">
        <img class="position-absolute" style="opacity: 0.5;" src="../../../../assets/img/logo.png" width="65px">
    </div>
</div>

<div class="py-md-5 py-4">
    <div class="container-main" *ngIf="pageView == 0">
        <div class="container-fluid">
            <div class="align-items-center d-flex justify-content-center " style="height: 300px">
                <h4>{{'lblUpdating' | translate}}</h4>
            </div>
        </div>
    </div>
    <div class="container-main" *ngIf="pageView == 1">
        <div class="container-fluid" *ngIf="+data.type == 2">
            <div class="w-100" *ngIf="data.detail && data.detail.length > 0">
                <div class="detail-page" id="contentDetail" [innerHTML]="data.detail | sanitizeHtml"> </div>
            </div>
            <div class="w-100" *ngIf="!data.detail || data.detail.length == 0">
                <div class="align-items-center d-flex justify-content-center " style="height: 300px">
                    <h4>{{'lblUpdating' | translate}}</h4>
                </div>
            </div>
        </div>
        <div class="container-fluid" *ngIf="+data.type == 3">
            <div *ngIf="products.data && products.data.length > 0">
                <app-list-product [data]="products.data" [group]="data.id"></app-list-product>
            </div>
            <div class="col-12 pt-4" *ngIf="!products.data || products.data.length == 0">
                <div class="align-items-center d-flex justify-content-center " style="height: 300px">
                    <h4>{{'lblUpdating' | translate}}</h4>
                </div>
            </div>
        </div>
        <div class="container-fluid" *ngIf="+data.type == 4">
            <div class="row" *ngIf="contents.data && contents.data.length > 0">
                <div class="col-md-3 col-12" *ngFor="let item of contents.data">
                    <app-box-content [item]="item" class="d-none d-md-block" [type]="0"></app-box-content>
                    <app-box-content [item]="item" class="d-block d-md-none" [type]="1"></app-box-content>
                </div>
                <div class="col-12 mt-4" *ngIf="page.cached.length > Pagination.itemsPerPage">
                    <pagination class="d-flex justify-content-center" [totalItems]="page.cached.length"
                        previousText="{{'FEbtn.previous' | translate }}" nextText="{{'FEbtn.next' | translate }}"
                        [itemsPerPage]="Pagination.itemsPerPage" [maxSize]="Pagination.maxSize"
                        (pageChanged)="Pagination.change($event)">
                    </pagination>
                </div>
            </div>
            <div *ngIf="!contents.data || contents.data.length == 0">
                <div class="align-items-center d-flex justify-content-center " style="height: 300px">
                    <h4>{{'lblUpdating' | translate}}</h4>
                </div>
            </div>
        </div>
    </div>
</div>