.overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.32);
    position: absolute;
    bottom: 5px;
    /* transform: translateY(-5px); */
    text-align: center;
    color: white;
    /* padding: 89px 30px; */
    box-sizing: border-box;
    opacity: 0;
    transition: ease-in-out 0.5s;
    border-radius: 3px;
}

.gallary-item:hover div.overlay {
    opacity: 1;
    transform: translateY(6px);
    transition: ease-in-out .5s;
}

.gallary-item:hover div.overlay::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 1;
    border: 2px dashed #fff;
    transform: scale(0.9, 0.9);
    transition: all 0.50s ease 0s;
    z-index: 2;
}

.gallary .gallary-item {
    margin-bottom: 0px !important;
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 400px;
    transition: ease-in-out 0.5s;
    animation: zoominoutsinglefeatured 0.3s;
}

.icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    width: 35px;
    height: 36px;
    line-height: 35px;
    text-align: center;
    border-radius: 100%;
    border: 1px solid white;
    color: white;
    opacity: 0;
}

.gallary-item:hover .overlay .icon {
    opacity: 1;
}

.btn-filter {
    font-weight: 700;
    color: #00689d;
    border: 1px solid;
}

.btn-filter:focus {
    background: #00689d!important;
    color: #fff !important;
    box-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0.288);
}

.active {
    background: #00689d;
    color: #fff;
}

.btn-filter:hover {
    background: #00689d;
    color: white;
    cursor: pointer;
}

.title {
    padding: 100px 0;
    color: #fff;
    overflow: hidden;
    float: left;
    width: 100%;
    position: relative;
}

.bg-title {
    height: 100%;
    bottom: 0;
    position: absolute;
    width: 100%;
    background-origin: content-box;
    overflow: hidden;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.overlay-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.3;
    z-index: 1;
}

.title .item-title {
    max-width: 1224px;
    width: 92%;
    margin: 0 auto;
    position: relative;
    z-index: 2;
}

.title h2 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 40px;
    letter-spacing: 2px;
}

@media (max-width:415px) {
    .title h2 {
        font-size: 30px;
    }
}

@keyframes zoominoutsinglefeatured {
    0% {
        transform: scale(0.8, 0.8);
    }
    100% {
        transform: scale(1, 1);
    }
}

.breadcrumb-item a {
    color: var(--hover-text-color)
}

.breadcrumb-item a:hover {
    color: var(--hover-text-color);
    text-decoration: none;
}

.video-container a {
    top: 50%;
    left: 50%;
    padding: 1rem;
    transform: translate(-50%, -50%);
    width: 4rem;
    height: 4rem;
    border-radius: 999px;
    cursor: pointer;
}

.icon-video {
    position: absolute;
    left: calc(50% - 20px);
    top: calc(50% - 20px);
}

.icon-video-circle {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: red;
    border: 2px solid transparent;
    position: relative;
}

.icon-video-circle::after {
    content: '';
    position: absolute;
    width: 80px;
    height: 80px;
    background-color: rgba(198, 40, 40, 0.9);
    border-radius: 100%;
    border: 2px solid transparent;
    -webkit-animation: video-circle-fill-anim 2.3s infinite ease-in-out;
    animation: video-circle-fill-anim 2.3s infinite ease-in-out;
    -webkit-transition: all .5s;
    transition: all .5s;
}

@-moz-keyframes video-circle-anim {
    0% {
        transform: rotate(0) scale(.5) skew(1deg);
        opacity: .1
    }
    30% {
        transform: rotate(0) scale(.7) skew(1deg);
        opacity: .5
    }
    100% {
        transform: rotate(0) scale(1) skew(1deg);
        opacity: .1
    }
}

@keyframes video-circle-anim {
    0% {
        transform: rotate(0) scale(.5) skew(1deg);
        opacity: .1
    }
    30% {
        transform: rotate(0) scale(.7) skew(1deg);
        opacity: .5
    }
    100% {
        transform: rotate(0) scale(1) skew(1deg);
        opacity: .1
    }
}

@keyframes video-circle-fill-anim {
    0% {
        transform: rotate(0) scale(.7) skew(1deg);
        opacity: .2
    }
    50% {
        transform: rotate(0) scale(1) skew(1deg);
        opacity: .2
    }
    100% {
        transform: rotate(0) scale(.7) skew(1deg);
        opacity: .2
    }
}

@media(max-width: 415px) {
    .fz-moblie {
        font-size: 1.3rem;
    }
}