@import "src/style/mixins";

.name {
    @include line-clamp(2);
    height   : 2.25rem;
    font-size: 1rem;
}

.price {
    height: 3.25rem;

    &-sale {
        font-size: 1.125rem;
    }

    &-default {
        text-decoration: line-through;
        font-size      : 0.875rem;

        @include viewport-sm {
            font-size: calc(0.875rem - 1px);
        }
    }
}

img {
    backface-visibility        : hidden;
    -webkit-backface-visibility: hidden;
    transform                  : translateZ(0) scale(1);
    -webkit-transform          : translateZ(0) scale(1);
    object-fit                 : contain;
}