<div class="p-2 bg-white border">
    <a [routerLink]="['/' + globals.language.getCode() + '/' +item.link]" class="nav-link p-0">
        <img class="img-fluid" [lazyLoad]="item.images" [alt]="item.name"
            [defaultImage]="'../../../../assets/img/default.jpg'" width="100%" height="100%" />
    </a>
    <div class="px-0 px-md-2 mt-2">
        <h4 class="name text-capitalize mb-1">
            <a [routerLink]="['/' + globals.language.getCode() + '/' +item.link]" class="nav-link p-0 text-body">{{
                item.name }}
            </a>
        </h4>
        <span class="small text-muted">{{ item.views }} lượt xem</span>
        <div class="price">
            <span class="text-danger font-weight-bold" *ngIf="!item.price || +item.price == 0">
                {{ 'lblContact' | translate }}
            </span>
            <div class="text-danger font-weight-bold price-sale" *ngIf="item.price && +item.price > 0">
                {{ (+item.price_sale > 0) ? ((+item.price_sale).toLocaleString('vi') ) :
                ((+item.price).toLocaleString('vi') ) }} ₫
            </div>
            <div class="d-flex align-items-center" *ngIf="item.price_sale && +item.price_sale > 0">
                <span class="badge bg-danger font-weight-normal p-1 text-white mr-1 mr-md-2">
                    {{ 'lblReduction' | translate }} {{ item.percent | number : '1.0-0' }}%
                </span>
                <span class="price-default text-muted p-1">
                    {{ ((+item.price).toLocaleString('vi') ) }} đ
                </span>
            </div>
        </div>
    </div>
</div>