<div class="container-fluid">
    <div class="row d-flex justify-content-center">
        <div class="col-md-9">
            <div class="card" style="border-radius: 0px">
                <div class="card-header d-flex align-items-center justify-content-between">
                    <h6 class="m-0"> {{'contact.subject' | translate}}: {{infoContact.subject}}</h6>
                    <div class="acction">
                        <button class="btn-primary btn btn-sm mr-2" [routerLink]="['../../../contacts']">
                            <i class="fas fa-arrow-left mr-2"></i>
                            <span translate>btn.back</span>
                        </button>
                        <button class="btn-success btn btn-sm" *ngIf="!hidden || hidden == false"
                            (click)="onSendMail()">
                            <i class="fas fa-paper-plane mr-2"></i>
                            <span translate>Trả lời</span>
                        </button>
                    </div>
                </div>
                <div class="card-body question mb-3">
                    <div class="mb-3">
                        <div>
                            {{'contact.maker_date' | translate}}: {{infoContact.maker_date | date:'dd-MM-yyyy'}}
                        </div>
                    </div>
                    <div style="font-size: 16px;">
                        <div class=" mb-3">
                            <span style="opacity: 0.5;">{{'lblName' | translate}}: </span>
                            <span>{{infoContact.name}}</span>
                        </div>
                        <div class=" mb-3">
                            <span style="opacity: 0.5;">{{'lblEmail' | translate}}: </span>
                            <span>{{infoContact.email}}</span>
                        </div>
                        <div class=" mb-3">
                            <span style="opacity: 0.5;">{{'lblPhone' | translate}}: </span>
                            <span>{{infoContact.phone}}</span>
                        </div>
                    </div>
                    <div class="p-2" style="background: #fafafa; border-radius: 5px; border: 1px solid #dcdcdc;">
                        <i class="fas fa-info-circle mr-2"></i>
                        <span>{{'contact.info_send' | translate}}: </span>
                        <span>{{infoContact.message}}</span>
                    </div>
                </div>

                <div *ngIf="infoContact.message_send && infoContact.subject_send">
                    <hr>
                    <div class="answer card-body">
                        <div class="mb-3">
                            <div style="font-weight: 500; font-size: 20px;">
                                <span translate>contact.subject-send</span>
                                <span>{{infoContact.subject_send}}</span>
                            </div>
                            <div class="font-italic" style="font-size: 10px; ">
                                <span translate>contact.day_send</span>
                                <span>{{infoContact.day_send | date:'dd-MM-yyyy'}}</span>
                            </div>
                        </div>
                        <div class="p-2" style="background: #fafafa; border-radius: 5px; border: 1px solid #dcdcdc;">
                            <i class="fas fa-info-circle"></i>
                            <span translate>contact.message-send </span>
                            <span>{{infoContact.message_send}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mt-3" *ngIf="skip">
                <div class="card-header">
                    <h6 class="m-0">{{'contact.contactReply' | translate}} {{fm.value.name}}</h6>
                </div>
                <div class="card-body">
                    <form [formGroup]="fm" *ngIf="fm">
                        <div class="form-group row">
                            <label class="col-md-4">{{ 'lblName' | translate }} </label>
                            <div class="input-group col-md-8">
                                <input type="text" class="form-control" formControlName="name" aria-label="Small"
                                    aria-describedby="inputGroup-sizing-sm">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-4">{{ 'lblEmail' | translate }}</label>
                            <div class=" input-group col-md-8">
                                <input type="text" formControlName="email" class="form-control" name="email"
                                    aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-4">{{ 'lblPhone' | translate }}</label>
                            <div class=" input-group col-md-8">
                                <input type="text" class="form-control" formControlName="phone" name="phone"
                                    aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                            </div>
                        </div>
                        <br />
                        <div class="form-group">
                            <label class="">{{ 'contact.subject' | translate }}</label>
                            <div class="input-group">
                                <input type="text" name="subject_send" formControlName="subject_send"
                                    class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="">{{ 'contact.message' | translate }}</label>
                            <div class="input-group">
                                <textarea type="text" formControlName="message_send" class="form-control " rows="9"
                                    aria-label="Small" aria-describedby="inputGroup-sizing-sm"></textarea>
                            </div>
                        </div>
                        <button (click)="onSubmit()" type="button"
                            class="btn btn-primary mb-2 float-md-right">{{'btn.send' | translate}}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>